<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UsanaExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F70B29D71C8E125A009109A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F70B29F01C8E125A009109A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F70B29FB1C8E125A009109A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
